* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header-img {
 height: 5rem;
}

header {
  position: fixed;
  top: 0;
 
}

#how-it-works {
margin: 10rem;
display: flex;
}

@media (max-width: 650px) {
  header {
    flex-wrap: wrap;
  }
}